<mat-card class="form-card">
  <mat-card-title>{{ isEditMode ? 'Editar Habitación' : 'Crear Habitación' }}</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Número de habitación</mat-label>
      <input matInput formControlName="roomNumber" />
      <mat-error *ngIf="form.get('roomNumber')?.invalid">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo de habitación</mat-label>
      <input matInput formControlName="type" placeholder="SINGLE, DOUBLE, SUITE" />
      <mat-error *ngIf="form.get('type')?.invalid">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Capacidad</mat-label>
      <input type="number" matInput formControlName="capacity" />
      <mat-error *ngIf="form.get('capacity')?.invalid">Debe ser mayor a 0</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Piso</mat-label>
      <input type="number" matInput formControlName="floor" />
      <mat-error *ngIf="form.get('floor')?.invalid">Requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Precio por mes</mat-label>
      <input type="text" matInput formControlName="pricePerMonth" placeholder="1200.00" />
      <mat-error *ngIf="form.get('pricePerMonth')?.invalid">debe ser un valor valido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Servicios adicionales (separados por coma)</mat-label>
      <input matInput formControlName="additionalServices" />
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">
        {{ isEditMode ? 'Actualizar' : 'Crear' }}
      </button>
      <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</mat-card>
