<div class="reservations-header" style="display: flex; justify-content: space-between; align-items: center;">
  <h2>Reservas</h2>
  <button (click)="goToCreate()" class="btn btn-primary">Crear Reserva</button>
</div>

<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Estudiante</th>
      <th>Habitación</th>
      <th>Check-in</th>
      <th>Check-out</th>
      <th>Status</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let res of reservations">
      <td>{{ res.id }}</td>
      <td>{{ res.studentId }}</td>
      <td>{{ res.roomId }}</td>
      <td>{{ res.checkInDate }}</td>
      <td>{{ res.checkOutDate }}</td>
      <td>{{ res.status }}</td>
      <td>
        <button class="btn btn-success btn-sm" (click)="confirmReservation(res.id)" [disabled]="res.status !== 'PENDING'">Confirmar</button>
        <button class="btn btn-warning btn-sm" (click)="activateReservation(res.id)" [disabled]="res.status !== 'CONFIRMED'">Activar</button>
        <button class="btn btn-info btn-sm" (click)="completeReservation(res.id)" [disabled]="res.status !== 'ACTIVE'">Completar</button>

        <!-- Input de cancelación local -->
       <!-- Input de cancelación local -->
        <input type="text" placeholder="Motivo cancelación"
       [ngModel]="cancelReasons.get(res.id) || ''"
       (ngModelChange)="cancelReasons.set(res.id, $event)"
       class="form-control form-control-sm mt-1 mb-1">


        <button class="btn btn-danger btn-sm"
                (click)="cancelReservation(res.id)"
                [disabled]="res.status === 'CANCELLED'">
          Cancelar
        </button>
      </td>
    </tr>
  </tbody>
</table>
