<h2>Crear Reserva</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Estudiante</mat-label>
    <mat-select formControlName="studentId">
      <mat-option *ngFor="let s of students" [value]="s.id">
        {{ s.firstName }} {{ s.lastName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Habitación</mat-label>
    <mat-select formControlName="roomId">
      <mat-option *ngFor="let r of rooms" [value]="r.id">
        {{ r.roomNumber }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput type="date" formControlName="startDate">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Fecha de fin</mat-label>
    <input matInput type="date" formControlName="endDate">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Notas</mat-label>
    <input matInput formControlName="notes">
  </mat-form-field>

  <!-- BOTONES -->
  <div class="mt-4 flex gap-3">

    <button mat-raised-button color="primary" type="submit" [disabled]="loading">
      <mat-icon>save</mat-icon>
      Guardar
    </button>

    <button mat-button type="button" [routerLink]="['/dashboard/reservations']">
  Cancelar
</button>


  </div>

</form>
